/* https://www.playd.com/w/index.html */

*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.navBox {
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.navBox h2{
    font-size: 28px;
    margin-left: 20px;
}

#gnbList ul {
    display: flex;
    align-items: center;
    width:100%
    
}

#gnbList ul li{
    height:80px;
    line-height: 80px;
    margin:0 40px;

}

.navBox .menuIcon {
    display: none;
}

.btnBox{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.btnBox button {
    border-radius: 50%;
    border-width: 0;
    width:50px;
    height:50px;
    margin:0 30px;
    background-color: rgba(256,256,256,0.6);
    font-size: 20px;
    cursor: pointer;
}

.slideContainer {
    overflow: hidden;
}

.slideContainer ul {
    width:300vw;
    display: flex;
    transition:0.3s;
}


.slideContainer ul .slide {
    display: flex;
    width:100vw;
    height:100vh;
}

.slideContainer ul .slide:nth-child(1) {
    background-image:url(./20220805_160844.png);
    background-size: cover;
}

.slideContainer ul .slide:nth-child(2){
    background-image:url(./20220805_160858.png);
    background-size: cover;
}
.slideContainer ul .slide:nth-child(3){
    background-image:url(./20220805_160910.png);
    background-size: cover;
}

.modalBg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    top:0;
    left:0;
}


.modalBg .modal {
    width:500px;
    height:340px;
    background-color: white;
}
.modalBg .modal .titleBox{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding:10px;
    height: 60px;
    line-height: 60px;

}
.btnClose {
    margin-right:20px;
    cursor: pointer;
}

.modalBg .modal .contentsBox {
    padding:10px
}


.modalBg.hide {
    display:none;
}


@media (max-width: 768px) {

    header .navBox .menuIcon {
        margin:0 20px;
        display: block;
        cursor: pointer;
        z-index: 1;
      }


    #gnbList {
        position:absolute;
        top:0;
        left:0;
        width:100vw;
        height:0;
        overflow: hidden;
        background-color: rgba(0,0,0,0.2);
    }

    #gnbList.on {
        height: 100vh;
    }

    #gnbList .listLi {
        position:absolute;
        top:0;
        right:0;
        width:200px;

        flex-direction:column;
        background-color: #fff;
        transition: transform 0.4s;
    }

    #gnbList .listLi li {
        line-height: 60px;
        text-align: center;
        width:200px;
        height:60px;
        border-bottom: 1px solid #e8e8e8;
    }


    #gnbList.on .listLi {
        transition: 0.4s;
    }

    

  }
  