.hidden {
  position: absolute;
  left: 9999px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  background-color: #e8e8e8;
}

#logo {
  margin-right: 50px;
}

#gnb .gnbList {
  display: flex;
}
#gnb .gnbList li + li {
  margin-left: 30px;
}

header .btnSide {
  display: none;
  cursor: pointer;
}

.slideContainer {
  height: 300px;
  overflow: hidden;
}

.slideContainer ul {
  width: 300vw;
  transform: translate(-200vw);
  display: flex;
  transition: 0.3s;
}

.slideContainer ul .slide {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.slideContainer ul .slide:nth-child(2) {
  background-color: yellow;
}
.slideContainer ul .slide:nth-child(3) {
  background-color: blue;
}

.modalBg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalBg .modal {
  width: 500px;
  height: 300px;
  background-color: white;
}

.modalBg .modal .titleBox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.modalBg .modal .btnClose {
  cursor: pointer;
}

.modalBg .modal .contentBox {
  padding: 10px;
}

.modalBg.hide {
  height: 0;
  overflow: hidden;
  transition-delay: 0.4s;
}
.modalBg.hide .modal {
  transform: scaleX(0);
  transition: 0.4s;
}

@media (max-width: 768px) {
  header {
    height: 40px;
    justify-content: space-between;
  }

  #gnb {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  #gnb.on {
    height: 100vh;
  }

  #gnb .gnbList {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    transform: translate(200px);
    flex-direction: column;
    background-color: #fff;
    transition: transform 0.4s;
  }

  #gnb.on .gnbList {
    transform: translate(0);
  }

  #gnb .gnbList li + li {
    margin-left: 0;
  }
  #gnb .gnbList li a {
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
  }
  header .btnSide {
    display: block;
  }
}
