a {
  text-decoration: none;
}

header {
  background-color: #e8e8e8;
  height: 60px;
  text-align: left;
}

h1 {
  text-size: 16px;
}

ul {
  font-size: 0px;
  width: 500px;
  margin: 0 auto;
}

li {
  font-size: 16px;
  display: inline-block;
}

button {
  position: absolute;
  right: 20px;
  height: 40px;
}
