/*@import "./media.css";*/

a {
  text-decoration: none;
  color: inherit;
}

.clearFix::after {
  font-size: "";
}

header {
  text-align: center;
  background-color: #b3b3b3;
  font-size: 0;
  list-style: none;
}

header h2 {
  float: left;
  font-size: 18px;
  line-height: 50px;
}

header .gnbList {
  display: inline-block;
  font-size: 16px;

  height: 36px;
  overflow: hidden;
  transition: 0.25s;
}

header .gnbList:hover {
  height: 200px;
}

header .gnbList > li {
  float: left;
}

.html::after {
  content: "new";
  font-size: x-small;
  background: red;
  color: #fff;
  padding: 1px 4px;
  border-radius: 4px;
}

.depth01:hover {
  background-color: blue;
  color: white;
}

header .gnbList li:active {
  background-color: black;
}

header .gnbList li a {
  display: inline-block;
  width: 100px;
  padding: 10px 0;
}

header .gnbList .depth01 ul {
  position: relative;
}

header .btn {
  float: right;
  box-sizing: border-box;
  width: 40px;
  background-color: red;
  line-height: 40px;
}

/*배너*/

.container {
  width: 100%;
  height: 600px;
  text-align: center;
  margin: 100px auto;
}

.imgBox {
  width: 150px;
  height: 250px;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  line-height: 240px;
  color: #fff;
  background-size: auto 100%;
  background-position: center;
  background-clip: content-box;
  background-color: blue;
  transition: 0.25s;
  background-repeat: no-repeat;
}

.depth01 ul li:first-child {
  margin-top: 10px;
}

.depth01 ul li {
  padding: 0.25em;
}

.imgBox:hover {
  background-size: auto 110%;
}

.box01 {
  background-image: url("./background_img.jpg");
}

.box02 {
  background-image: url("./flower_860.png");
}

.box03 {
  background-image: url("./img_03.jpg");
}

.bg {
  height: 300px;
  background-image: url("./background_img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.inputList input {
  border: 2px solid red;
}

.chat {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background: #000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.25s;
  opacity: 0;
  animation-name: slideUp, fadeIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.chat:hover {
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}

/* 초기값 설정 x => 원래 포지션 기준으로 움직임. animation-fill-mode 설정 필요 */
@keyframes slideUp {
  to {
    transform: translateY(-20px);
  }
}

/* 초기값을 설정. 애니메이션이 끝난 위치와 원래 위치가 동일. animation-fill-mode 필요 없음 */
@keyframes slideUp02 {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
