.container {
  width: 400px;
  height: 300px;
  border: 3px solid red;
}

.colorBox {
  height: 100px;
  border: 2px solid rgb(99,99,99)
  /* rgb 코드를 통한 배경색 지정 */
  background-color rgb(255, 255, 0);

  /* 키워드를 통해서 배경색 지정 */
  background-color: aqua;

  background-image: url()
}

.box{
  height: 300px;
  border: 2px solid rgb(99,99,99)
    text-align center;
    line-height:300px;
}

.imgBox{
  background-image:url('./flower_860.png')

  /* 배경 이미지의 크기 지정 */
  background-size 100px 20px;
  background-size: 20%;

  /* 사진이 찌그러지거나 잘리지 않는 선에서 가장 크게 표현 */
  background-size: contain;

/* 사진이 찌그러지지 않는 선에서 가장 크게 표현. 꽉 채운다. 좀 더 많이 사용 */
  background-size:cover;

  background-repeat:no-repeat;
  background-repeat:no-repeat repeat;
  background-repeat:repeat-x;

  /* x,y순으로 키워드를 지정 */
background-position: center center;

background-position: bottom right;

/* x, y순으로 길이를 지정하여 배경 이미지를 이동 */
background-position: 200px 50px;

/* 요소의 길이에 대해서 n%로 지정 */
background-position:50% 10%;

/* 오프셋을 통해서 기준으로부터 오프셋만큼 이동 */
background-position: top 20px right 20px;

background-origin:border-box;

}

.pattern{
  background-image: url("");
  background-size:200px;
}

.box02{

  /* 배경이 컨텐츠 영역에서 시작 */
  background-origin:content-box;
  /* 배경이 패딩 영역에서 시작 */
background-origin:padding-box;  
/* 배경이 border 영역에서 시작 */
background-origin:border-box;
/* 배경색의 지정범위를 설정 */
background-clip:content-box;




}

.bg{
  height:500px;
  border:3px solid #000;

  background-image:url("");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;

  overflow:scroll;
  /* 기본값. 배경 이미지를 요소에 고정. 스크롤 시 배경 이미지 스크롤x */
  background-attachment:scroll;

  /* 배경 이미지를 요소에 고정. 스크롤시 배경이 같이 스크롤. */
  /* 배경이 그려지는 기준이 요소가 아니라 스크롤 가능 영역. */
  background-attachment:local;


  background-attachment:fixed;

}

.bg02{
  height: 300px;
  background-image: url("");

  background-attachment:fixed;
}